*{
    margin: 0;
}
.mov-img div img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid black;
}
.movies-wrapper{
    position: relative;
    top: 20px;  
    font-size: 20px; 
}
.mov-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 40px;
}

.mov-img img:hover{
scale: 1.1;
border: 5px solid rgb(5, 50, 248);
}
.mov-img div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.jd-wrapper{
    position: relative;
    top: 50px;
    font-size: 20px;
}

.jd-img div img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    border: 2px solid black;
}
.jd-img{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
    top: 50px;
}
.jd-img img:hover{
    scale: 1.1;
    border: 5px solid rgb(5, 50, 248);
}

footer{
    height: 30vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;  
    position:relative;
    top: 70px;
    color: white; 
}

footer div{
    position:relative;
    top: 50px;
    padding: 10px;
}